<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Friend_Photo</title>
    <link href="../../css/Friend_Part/Friend_Photo.css" rel="stylesheet">
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script>
        $(function () {
            //获取cookie
            //取出名字和用户的账号
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            // var username=getCookie("cookie_username");
            var friendaccount=getCookie("cookie_friendaccount");
            //绑相册的目录
            var photos=new Vue({
                el:"#photo_content",
                data:{
                    list:{}
                },methods:{
                    go:function(id){
                        document.cookie="ablumid = "+id;
                        window.location.href="Friend_Photo_Detail.html"
                    }
                }
            });
            var allpicture=new Vue({
                el:"#picture_content",
                data:{
                    list:{}
                }
            })
            //获取相册信息
            $.ajax({
                url:"http://127.0.0.1:8090/ablum/findAblumByMasterId",
                dataType:"json",
                type:"post",
                data:{
                    master_id:friendaccount
                },
                success:function(data) {
                    photos.list=data;
                },error:function () {
                    // alert("未知错误")
                }
            })

            //点击 “相册”
            $("#photos").click(function () {
                $("#photo_content").css("display","inline");
                $("#picture_content").css("display","none");
            })
            //点击 ”照片“
            $("#pictures").click(function () {
                $("#photo_content").css("display","none");
                $("#picture_content").css("display","inline");
                $.ajax({
                    url:"http://127.0.0.1:8090/picture/findAllPicture",
                    dataType:"json",
                    type:"post",
                    data:{
                        master_id:friendaccount,
                    },
                    success:function(data) {
                        allpicture.list=data;
                    },error:function () {
                        // alert("未知错误")
                    }
                })
            })
        })
    </script>

</head>
<body>
<div id="content">
    <div id="button">
        <div id="photos">相册</div>
        <div id="pictures">照片</div>
    </div>
    <!--    版本1 相册目录-->
    <div id="photo_content" style="display: inline">
        <div id="photo_model" v-for="(photo,i) in list">
            <div id="img" v-on:click="go(photo.id)"><img v-bind:src="photo.ablum_head"></div>
            <div id="phto_name">{{photo.ablum_title}} ({{photo.picture_number}})</div>
        </div>
    </div>
    <!--    版本2：照片全部-->
    <div id="picture_content" style="display: none">
        <div id="picture_model" v-for="(pic,i) in list">
            <div id="picture_img"><img v-bind:src="pic.url"></div>
            <div id="picture_time">{{pic.push_time}}</div>
        </div>
    </div>
</div>
</body>
</html>