/*公共能用 部分的样式-------*/
* {
    margin: 0px 0px 0px 0px;
}
body{
    width:1366px ;
    height: 768px;
}
/*------------公共能用 部分的样式*/
.left_part{
    width: 100%;
    height: 100%;
 background-color: #4cae4c;
}