/*公共能用 部分的样式-------*/
* {
    margin: 0px 0px 0px 0px;
}
body{
    width:1366px ;
    height: 768px;
}
/*------------公共能用 部分的样式*/

/*************/
  /*左侧部分*/
/*************/
#backgrounp_left{
    /*width: 433px;*/
    /*height:100% ;*/
    width: 433px;
    height: 100%;
    float: left;
    background-image: url("../images/注册背景1.jpg");
    /*background-color: red;*/
}
.logo{
    margin: 30px 0px 0px 40px;
    width: 200px;
    height: 50px;
    /*background-color: #4b59ff;*/
}
.logo p{
    font-size: 30px;
    color: white;
}

/*************/
  /*中间部分*/
/*************/
#backgrounp_center{
    width: 500px;
    /*height: 768px;*/
    height: 100%;
    float: left;
    background-color: #eeeeee;
}
#title{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    /*background-color: #31b0d5;*/
}
#title_big{
    width: 90%;
    height: 60px;
    margin-left: 5%;
    /*background-color: #eeeeee;*/
    font-size: 40px;
    text-align: center;
    color: #122b40;
}
#title_small{
    width: 70%;
    height: 40px;
    margin-left: 15%;
    /*background-color: red;*/
    font-size: 20px;
    text-align: center;
    color: #9d9d9d;
}
#Register{
    width: 80%;
    height: 400px;
    /*background-color: #9d9d9d;*/
    margin-left: 10% ;
}
#Register ul{
    margin-top: 50px;
    /*background-color: blue;*/
}
ul li{
    list-style: none;
}
.box_big{
    margin-top: 10px;
    width: 80%;
    height: 43px ;
    background-color: #31b0d5;
    border-radius: 5px;
    /*font-size: 20px;*/
}
.box_big input{
    margin-left: 2px;
    margin-top: 2px;
    width: 97%;
    font-size: 21px;
    line-height: 30px;
    border-radius: 5px;
}
.box_small div{
    color: red;
}
#nowregister{
    width: 72%;
    height: 45px;
    background-color: #5bc0de;
    /*background-color: #286090 ;*/
    font-size: 30px;
    margin-left: 10%;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
}
#nowregister a{
    color: #8c8c8c;
}
#agreement{
    margin-top: 30px;
    width: 100%;
    height: 20px;
    /*background-color: blueviolet;*/
}
#agreement input{
margin-left: 10%;
    float: left;
}
#agreement p{
    font-size: 10px;
}
p a:hover{
    color: red;
}

/*注册成功的提示框*/




/*************/
  /*右侧部分*/
/*************/
#backgrounp_right{
    width: 433px;
    /*height: 768px;*/
    height:100% ;
    float: right;
    background-image: url("../images/注册背景2.jpg");
}