*{
    margin: 0px;
}
body{
    width: 530px;
    height: 752px;

}
#body_content{
    width: 100%;
    height: 100%;
    background-color: #999999;
}
/*添加好友的申请信息模板 起始*/
.add_friend_info{
    width: 90%;
    height: 150px;
    margin-left: 5%;
    background-color: #f7ecb5;
}
#title{
    width: 50%;
    height: 30px;
    float: left;
    margin-left: 25%;
    text-align: center;
    font-weight: bold;
}
#content{
    width: 90%;
    height: 90px;
    margin-left: 5%;
    background-color: #777777;
    float: left;
    border-radius: 8px;

}
#applyimg{
    width: 79px;
    height: 79px;
    float: left;
    margin-left: 7px;
    margin-top: 7px;
    border: 1px solid wheat;
}
#applyimg img{
    width: 75px;
    height: 75px;
    margin-left: 2px;
    margin-top: 2px;
    float: left;
    background-color: #286090;
}
#info{
    width:210px ;
    height: 100%;
    float: left;
}
#account{
    width: 150px;
    height: 20px;
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
#name{
    width: 150px;
    height: 20px;
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
#signature{
    margin-top: 5px;
    width: 90%;
    height: 45px;
    margin-left: 10px;
    float: left;
    /*background-color: #adadad;*/
}
#accept{
    width:45px;
    height: 23px;
    float: right;
    margin-top: 30px ;
    margin-right: 5px;
    background-color: #ec971f;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 3px;
}
#refuse{
    width: 45px;
    height: 23px;
    float: right;
    margin-top: 30px ;
    margin-right: 5px;
    background-color: #c9302c;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 3px;
}
#time{
    width:250px ;
    height: 23px;
    margin-top: 3px;
    text-align: center;
    float: right;
    font-size: 14px;

}
/*添加好友的申请信息模板 终止*/

/*展示说说的模板*/
/*展示已有说说的模块 开始*/
.share_model{
    /*margin-top: 20px;*/
    width: 450px;
    /*height: 250px;*/
    height: auto;
    margin-left: 30px;
    /*background-color: #adadad;*/
    /*border: 2px solid #adadad;*/
}
#model{
    width: auto;
    height: auto;
    margin-top: 10px;
    float: left;
    background-color: #adadad;
    border: 1px solid white;
    border-radius: 5px;
}
#user_info{
    margin-top: 10px;
    width: 450px;
    height: 70px;
    /*background-color: #269abc;*/
    float: left;
}
#head_img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: white;
    float: left;
    border-color: whitesmoke;
}
#head_img img{
    width: 58px;
    height: 58px;
    margin-top: 1px;
    margin-left: 1px;
}
#share_user_name{
    width: 370px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    /*background-color: yellow;*/
    float: left;
    font-weight: bold;
}
#share_time{
    width: 370px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    /*background-color: #f7ecb5;*/
    float: left;
    font-size: 13px;
}
#word_message{
    width: 450px;
    /*height: 100px;*/
    height: auto;
    /*background-color: #adadad;*/
    float: left;
}
#message{
    width: 400px;
    height: auto;
    /*height: max-content;*/
    background-color: white;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
}
#photos{
    width: 428px;
    /*height: 462px;*/
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*background-color: #66512c;*/
}
.photo_model{
    width: 140px ;
    height: 150px;
    margin-left: 2px ;
    margin-top: 2px;
    float: left;
}
.photo_model img{
    width: 140px ;
    height: 150px;
    border-radius: 5px;
    border: 1px solid wheat;
}
#browse_times{
    width: 450px;
    height: 25px;
    background-color: #777777;
    margin-top: 10px;
    float: left;
}
#browse{
    width: 150px;
    height: 25px;
    margin-left: 25px;
    /*background-color: #269abc;*/
    float: left;
}
#delete{
    width: 60px;
    height: 25px;
    background-color: #adadad ;
    float: right;
    text-align: center;
}
#likes{
    width: 60px;
    height: 25px;
    background-color: #adadad;
    float: right;
    text-align: center;
}
#leave_message{
    width: 60px;
    height: 25px;
    background-color: #66512c;
    float: right;
    text-align: center;
}
/*展示已有说说的模块 结束*/
/*待后续开发部分*/
#praise_content{
    width: 400px;
    height: auto;
    float: left;
}
#praise_content p{
    float: left;
    margin-left: 3px;
}
/*底部的谈论区*/
#talk_message{
    width: 450px;
    height: auto;
    background-color: cornflowerblue;
}

