#user_account{
    width: 150px;
    height: 40px;
    float: left;
    font-size: 20px;
    background-color: red;
}

#user_name{
    width: 150px;
    height: 40px;
    float: left;
    font-size: 20px;
    background-color: yellow;
}