/*公共能用 部分的样式-------*/
* {
    margin: 0px 0px 0px 0px;
}
body{
    width:1092px ;
    height: 768px;
}
/*------------公共能用 部分的样式*/
#letf_part{
    float: left;
    width: 25%;
    height: 100%;
    background-color: #adadad;
}
#overview{
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 160px;
    background-color: #9d9d9d;
    border-radius: 10px;
    /*border: 2px;*/

}
#overview li{
    margin-top: 10px;
    margin-left: 20px;
    /*background-color: white;*/
    width: 80%;
    list-style: none;
    float: left;
}
#overview li div{
    text-align: center;
    /*background-color: white;*/
    float: left;
    font-size: 30px;
}
#overview li p{
    /*background-color: #122b40;*/
    float: left;
    font-size: 30px;
}
#center_part{
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: #f9f9f9;
}
#right_part{
    float: left;
    width: 25%;
    height: 100%;
    background-color: #adadad;
}
#userinfo{
    margin-top: 10%;
    width: 100%;
    height: 400px;
}
#user_logo{
    width: 120px;
    height: 120px;
    background-color: white;
    margin-left: 5px;
    float: left;
}
#userinfo img{
    margin-top: 5px;
    margin-left: 5px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
}
#userinfo li{
    margin-top: 10px;
    float: left;
    list-style: none;
}
#change_logo1{
    float: left;
    width: 145px;
    height: 80px;
    /*background-color: yellow;*/
}

#change_logo1_click{
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 30px ;
    float: left;
}
#change_logo2{
    float: left;
    width: 145px;
    height: 80px;
    /*background-color: yellow;*/
}
#new_head{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
#cancel_change{
    border-radius: 5px;
    margin-top: 10px;
    float: left;
    margin-left: 5px;
    width: 60px;
}
#sure_change{
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 70px;
}

#user_name{
    width: 180px;
    height: 20px;
    float: left;
    /*background-color: red;*/
}
#user_name p{
    /*margin-left: 5px;*/
    float: left;
}
#user_name input{
    float: left;
    width: 120px;
}
.model{
    width: 270px;
    height: 30px;
    float: left;
    /*background-color: #4cae4c;*/
}
#sex{
    float: left;
    /*background-color: red;*/
}
#sex_type{
    float: left;
    width: 40px;
    border-radius: 3px;
    /*size: auto;*/
}

#like{
    float: left;
    /*background-color: red;*/
}
#fondness{
    width: 180px;
    border-radius: 3px;
}
#sign{
    float: left;
    /*background-color: red;*/
}
#usersignature{
    float: left;
    width: auto;
}
#change_password{
    border-radius: 5px;
    margin-left: 80px;
}

#password_change1{
    float: left;
    /*background-color: red;*/
}
input[name="password_change1"]{
    border-radius: 3px;
    width: 100px;
}
#password_change2{
    float: left;
    /*background-color: red;*/
}
input[name="password_change2"]{
    border-radius: 3px;
    width: 100px;
}
#phone{
    float: left;
    /*background-color: red;*/
}
input[name="phone"]{
    border-radius: 3px;
    width:100px;
}

.write{
    float: left;
    /*background-color: #269abc;*/
}
#info_bottom{
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /*background-color: #1b6d85;*/
}

#delete_update{
    float: left;
    margin-left: 40px;
    border-radius: 10px;
    background-color: #5bc0de;
    font-size: 15px;
}
#save_update{
    float: left;
    margin-left: 40px;
    border-radius: 10px;
    background-color: #4cae4c;
    font-size: 15px;
}

#warm_password{
    float: left;
    margin-left: 20px;
    width: 180px;
    height: 22px;
    color: red;
}
#sameresult{
    margin-left: 10px;
}


/*功能模块的中间部分*/
/*添加好友的申请信息模板 起始*/
.add_friend_info{
    width: 90%;
    height: 150px;
    margin-left: 5%;
    background-color: #f7ecb5;
}
#title{
    width: 50%;
    height: 30px;
    float: left;
    margin-left: 25%;
    text-align: center;
    font-weight: bold;
}
#content{
    width: 90%;
    height: 90px;
    margin-left: 5%;
    background-color: #777777;
    float: left;
    border-radius: 8px;

}
#applyimg{
    width: 79px;
    height: 79px;
    float: left;
    margin-left: 7px;
    margin-top: 7px;
    border: 1px solid wheat;
}
#applyimg img{
    width: 75px;
    height: 75px;
    margin-left: 2px;
    margin-top: 2px;
    float: left;
    background-color: #286090;
}
#info{
    width:220px ;
    height: 100%;
    float: left;
}
#account{
    width: 150px;
    height: 20px;
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
#name{
    width: 150px;
    height: 20px;
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
#signature{
    margin-top: 5px;
    width: 90%;
    height: 45px;
    margin-left: 10px;
    float: left;
    /*background-color: #adadad;*/
}
#accept{
    width:45px;
    height: 23px;
    float: right;
    margin-top: 30px ;
    margin-right: 5px;
    background-color: #ec971f;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 3px;
}
#refuse{
    width: 45px;
    height: 23px;
    float: right;
    margin-top: 30px ;
    margin-right: 5px;
    background-color: #c9302c;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 3px;
}
#time{
    width:250px ;
    height: 23px;
    margin-top: 3px;
    text-align: center;
    float: right;
    font-size: 14px;

}
#content_info{
    width: 90%;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-left: 5%;
}
/*添加好友的申请信息模板 终止*/
/*展示说说的模板*/
/*展示已有说说的模块 开始*/
.share_model{
    /*margin-top: 20px;*/
    width: 450px;
    /*height: 250px;*/
    height: auto;
    margin-left: 30px;
    /*background-color: #adadad;*/
    /*border: 2px solid #adadad;*/
}
#model{
    width: auto;
    height: auto;
    margin-top: 10px;
    float: left;
    background-color: #adadad;
    border: 1px solid white;
    border-radius: 5px;
}
#user_info{
    margin-top: 10px;
    width: 450px;
    height: 70px;
    /*background-color: #269abc;*/
    float: left;
}
#head_img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: white;
    float: left;
    border-color: whitesmoke;
}
#head_img img{
    width: 58px;
    height: 58px;
    margin-top: 1px;
    margin-left: 1px;
}
#share_user_name{
    width: 370px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    /*background-color: yellow;*/
    float: left;
    font-weight: bold;
}
#share_time{
    width: 370px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    /*background-color: #f7ecb5;*/
    float: left;
    font-size: 13px;
}
#word_message{
    width: 450px;
    /*height: 100px;*/
    height: auto;
    /*background-color: #adadad;*/
    float: left;
}
#message{
    width: 400px;
    height: auto;
    /*height: max-content;*/
    background-color: white;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
}
#photos{
    width: 428px;
    /*height: 462px;*/
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*background-color: #66512c;*/
}
.photo_model{
    width: 140px ;
    height: 150px;
    margin-left: 2px ;
    margin-top: 2px;
    float: left;
}
.photo_model img{
    width: 140px ;
    height: 150px;
    border-radius: 5px;
    border: 1px solid wheat;
}
#browse_times{
    width: 450px;
    height: 25px;
    background-color: #777777;
    margin-top: 10px;
    float: left;
}
#browse{
    width: 150px;
    height: 25px;
    margin-left: 25px;
    /*background-color: #269abc;*/
    float: left;
}
#delete{
    width: 60px;
    height: 25px;
    background-color: #adadad ;
    float: right;
    text-align: center;
}
#likes{
    width: 60px;
    height: 25px;
    background-color: #adadad;
    float: right;
    text-align: center;
}
#leave_message{
    width: 60px;
    height: 25px;
    background-color: #66512c;
    float: right;
    text-align: center;
}
/*展示已有说说的模块 结束*/