*{
margin:0px;
}
#content{
    overflow: auto;
    margin-left: 10%;
    width: 80%;
    height: 700px;
    background-color: #8c8c8c;
    /*border-radius: 8px;*/
}
/*按钮部分的*/
#button{
    width: 800px;
    height: 65px;
    background-color: #adadad;
    margin-left: 30px;
    margin-top: 35px;
    float: left;
}
#photos{
    width: 60px;
    height: 25px;
    float: left;
    background-color: #269abc;
    margin-left: 20px;
    margin-top: 17px;
    text-align: center;
    border-radius: 3px;
}
#pictures{
    width: 60px;
    height: 25px;
    float: left;
    background-color: #777777;
    margin-left: 20px;
    margin-top: 17px;
    text-align: center;
    border-radius: 3px;
}
#new_photos{
    width: 120px;
    height: 25px;
    float: right;
    background-color: whitesmoke;
    margin-right: 20px;
    margin-top: 17px;
    text-align: center;
    border-radius: 3px;
}

/*版本1 ：展示相册目录的*/
#photo_content{
    width: 800px;
    height: 800px;
    background-color: #f7ecb5;
    margin-left: 30px;
    float: left;
}
#photo_model{
    width: 200px;
    height: 200px;
    float: left;
    background-color: #8c8c8c;
}
#img{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 25px;
    margin-top: 5px;

}
#img img{
    width: 150px;
    height: 150px;
}
#phto_name{
    width: 150px;
    height: 30px;
    text-align: center;
    float: left;
    margin-left: 25px;
    margin-top: 5px;
    background-color: whitesmoke;
}
#picture_content{
    overflow: auto;
    width: 800px;
    height: 4000px;
    background-color: #f7ecb5;
    margin-left: 30px;
    float: left;
}
#picture_model{
    margin-top: 10px;
    /*margin-left: 10px;*/
    width: 266px;
    height: 325px;
    background-color: #8c8c8c;
    float: left;
}
#picture_model img{
    width: 250px;
    margin-left: 8px;
    height: 300px;
}
#picture_time{
    width: 100%;
    height: 25px;
    float: right;
    text-align: center;
}

/*版本3 ：新建相册的*/
#add_photo{
    width: 800px;
    height: 800px;
    background-color: #f7ecb5;
    margin-left: 30px;
    float: left;
}
#build_info{
    width: 500px ;
    height: 300px;
    background-color: #adadad;
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 8px;
}
#build_title{
    width: 460px;
    height: 30px;
    margin-left: 20px;
    float: left;
}
#build_title div{
    margin-left: 10px;
    width: 120px;
    height: 30px;
    text-align: center;
    font-weight:bold;
    font-size: 25px;
}
#build_content{
    width: 460px ;
    height: 230px;
    background-color: whitesmoke;
    float: left;
    margin-left: 20px;
    margin-top: 10px;

}
#top{
    width: 460px;
    height: 30px;
    /*background-color: #f7ecb5;*/
    float: left;
}
#top_title{
    width: 80px;
    height: 30px;
    float: left;
    margin-left: 20px;
    /*background-color: #adadad;*/
}
#top_name{
    width: 200px;
    height: 30px;
    background-color: white;
    border: 2px solid steelblue;
    float: left;
}
#descript{
    margin-top: 15px;
    width: 460px;
    height: 150px;
    /*background-color:  #8c8c8c;*/
    float: left;
}
#des_title{
    width:80px;
    height: 30px;
    float: left;
    margin-left: 20px;
    /*background-color: #ec971f;*/
}
#des_content{
    width: 340px;
    height: 130px ;
    background-color: white;
    float: left;
    border: 2px solid steelblue;
}
#chose{
    width: 460px;
    height: 45px;
    float: left;
    /*background-color: #269abc;*/
}
#sure{
    width: 80px;
    height: 30px;
    background-color: #ec971f;
    float: right;
    text-align: center;
    margin-right: 20px;
    margin-top: 7px;
    border-radius: 5px;
    border: 2px solid #269abc;
}
#cancer{
    width: 80px;
    height: 30px;
    background-color: whitesmoke ;
    float: right;
    text-align: center;
    margin-right: 20px;
    margin-top: 7px;
    border-radius: 5px;
    border: 2px solid lightsteelblue;
}