<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Active_Info</title>
    <link href="../css/Active_Info.css" rel="stylesheet">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script>
        $(function () {
            //获取cookie
            //取出名字和用户的账号
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            var username = getCookie("cookie_username");
            var account = getCookie("cookie_account");

            var contentlist=new Vue({
                el:"#body_content",
                data:{
                    applicationlist:{},
                    sharelist:{}
                },
                methods:{
                    accept:function (apply) {
                        //好友申请的： 点击 接受
                      $.ajax({
                          url:"http://127.0.0.1:8090/friends/addFriendSuccess",
                          dataType:"json",
                          type:"post",
                          data:{
                              master_id:apply.master_id,
                              friend_id:apply.friend_id,
                          },success:function (data) {
                              // alert("同意了申请该好友： "+data+" 的申请"),
                                  window.parent.location.reload();
                          },
                          error:function () {
                              alert("系统异常")
                          }

                      })

                    },
                    refuse:function (apply) {
                        //好友申请的： 点击 拒绝
                        $.ajax({
                            url:"http://127.0.0.1:8090/friends/addFriendFail",
                            dataType:"json",
                            type:"post",
                            data:{
                                master_id:apply.master_id,
                                friend_id:apply.friend_id
                            },success:function (data) {
                                // alert("已拒绝添加该好友")
                                window.location.reload()
                            },error:function () {
                                alert("系统异常")
                            }
                        })
                    },
                praise:function (share) {
                        alert("别点了，没做到");
                        window.location.reload();
                    // alert("点赞： " + share.id);
                    // $.ajax({
                    //     url: "http://127.0.0.1:8090/praisePower/addPraiseInfo",
                    //     dataType: "json",
                    //     type: "post",
                    //     data: {
                    //         share_id: share.id,
                    //         person_id: account,
                    //         person_name: username
                    //     },
                    //     success: function (data) {
                    //         if (data == 0) {
                    //             alert("点赞失败")
                    //         } else {
                    //             alert("点赞成功")
                    //             window.location.reload();
                    //         }
                    //     }, error: function () {
                    //         alert("抱歉，点赞失败")
                    //     }
                    //
                    // })
                }
                }
            })


            //获取消息 ：新好友申请的消息
            $.ajax({
                url:"http://127.0.0.1:8090/friends/findFriendApplication",
                dataType:"json",
                type:"post",
                data:{
                    account:account
                }
                ,success:function (data) {
                    contentlist.applicationlist=data;
                },error:function () {
                    alert("获取申请信息失败，请联系开发者")
                }
            })
            //说说的信息
            // var sharemodel=new Vue({
            //     el:"#body_content",
            //     data:{
            //         sharelist:{}
            //     }
            // })

            //获取所有好友的已经发表的说说信息
            $.ajax({
                url:"http://127.0.0.1:8090/share/findFriendShare",
                dataType:"json",
                type:"post",
                data:{
                    master_id: account
                }
                ,success:function (data) {
                    contentlist.sharelist=data
                    // alert("获取好友说说成功")
                },error:function () {
                    alert("获取好友说说失败")
                }
            })
            })


    </script>
</head>
<body>
<div id="body_content">
<!--有好友申请信息-->
<div class="add_friend_info" v-for="(application,i) in applicationlist">
    <div id="title">您有一条好友申请信息</div>
    <div id="content">
        <div id="applyimg"><img v-bind:src="application.avatar"></div>
        <div id="info">
            <p id="account">账号: {{application.friend_id}}</p>
            <p id="name">昵称: {{application.name}}</p>
            <p id="signature">个性签名: {{application.signature}}</p>
        </div>
        <div id="accept" v-on:click="accept(application)">接受</div>
        <div id="refuse" v-on:click="refuse(application)">拒绝</div>
    </div>
    <div id="time">{{application.applicationtime}}</div>
</div>

<!--展示已有的说说-->
    <div class="share_model" v-for="(share,i) in sharelist">
        <div id="model">
        <div id="user_info">
            <div id="head_img">
                <img v-bind:src="share.master_img">
            </div>
            <div id="share_user_name">{{share.master_name}}</div>
            <div id="share_time">{{share.share_time}}</div>
        </div>
        <div id="word_message">
            <div id="message">
                {{share.words}}
            </div>
        </div>
        <div id="photos">
            <div class="photo_model" v-if="share.picture1 !==null"><img v-bind:src="share.picture1"></div>
            <div class="photo_model" v-if="share.picture2 !==null"><img v-bind:src="share.picture2"></div>
            <div class="photo_model" v-if="share.picture3 !==null"><img v-bind:src="share.picture3"></div>
            <div class="photo_model" v-if="share.picture4 !==null"><img v-bind:src="share.picture4"></div>
            <div class="photo_model" v-if="share.picture5 !==null"><img v-bind:src="share.picture5"></div>
            <div class="photo_model" v-if="share.picture6 !==null"><img v-bind:src="share.picture6"></div>
            <div class="photo_model" v-if="share.picture7 !==null"><img v-bind:src="share.picture7"></div>
            <div class="photo_model" v-if="share.picture8 !==null"><img v-bind:src="share.picture8"></div>
            <div class="photo_model" v-if="share.picture9 !==null"><img v-bind:src="share.picture9"></div>
        </div>
        <!--            浏览次数等-->
        <div id="browse_times">
            <div id="browse">被浏览了 {{share.saw_time}} 次</div>
            <div id="likes" v-on:click="praise(share)">点赞</div>
            <div id="leave_message">留言</div>
        </div>
<!--        <div id="praise_content"><p v-for="(praise_one,i) in share.praise">{{praise_one.person_name}},</p><p>觉得很赞</p></div>-->
<!--        <div id="talk_message"></div>-->
    </div>
     </div>
     </div>

</body>
</html>